#about-us {
  padding: 6.5% 11.3%;
}

#about-us .max-width-container {
  max-width: 1520px;
  margin: 0 auto;
  position: relative;
}

#about-us figure {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
  position: relative;
}

.mask {
  width: 100%;
  height: min(39vw, 764px);
  position: absolute;
  top: -2px;
  left: 0;
  z-index: 100;
  border-top: 4px solid var(--light-creme);
  border-bottom: 4px solid var(--light-creme);
}

#about-us .parallax-img {
  max-width: 50%;
  position: absolute;
  top: 0;
  left: 1px;
  z-index: -1;
  will-change: transform;
}

#about-us figure video {
  grid-column: 2 / 3;
  position: relative;
  right: 1px;
}

#about-us .headline {
  position: relative;
  margin: 9% 0 1rem 0;
}

#about-us h2 {
  font-size: clamp(7rem, 30vw, 36.75rem);
  text-align: center;
  color: var(--dark-red);
}

#about-us .red-paragraph {
  font-size: clamp(1.5rem, 2.75vw, 2.25rem);
}

.char {
  opacity: 0;
}

#about-us .headline img {
  width: clamp(2rem, 8vw, 9.5rem);
  position: absolute;
  top: 22%;
  left: 14.6%;
}

#about-us .grid {
  grid-template-columns: repeat(10, 1fr);
}

#about-us .left {
  grid-column: 1 / 6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

#about-us .left img {
  width: 90%;
}

#about-us .right {
  grid-column: 7 / 11;
}

#about-us .right img {
  width: 100%;
  margin-bottom: 14%;
}

@media screen and (max-width: 840px) {
  #about-us .grid {
    display: flex;
    flex-direction: column;
  }

  #about-us .left img {
    display: none;
  }

  #about-us .right img {
    margin: 10% 0;
  }
}