#about-us {
  padding: 6.5% 11.3%;
}

#about-us .max-width-container {
  max-width: 1520px;
  margin: 0 auto;
}

#about-us figure {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}

#about-us .parallax-img {
  position: relative;
  left: 1px;
  transform: scale(1.2);
  will-change: transform;
}

#about-us figure img:nth-of-type(2) {
  position: relative;
  right: 1px;
}

#about-us .headline {
  position: relative;
  margin: 9% 0 1rem 0;
}

#about-us h2 {
  font-size: clamp(7rem, 30vw, 36.75rem);
  text-align: center;
  color: var(--dark-red);
}

#about-us .headline img {
  width: clamp(2rem, 8vw, 9.5rem);
  position: absolute;
  top: 22%;
  left: 14.6%;

  animation: logoRotation 20s linear infinite;
}

#about-us .grid {
  grid-template-columns: repeat(10, 1fr);
}

#about-us .left {
  grid-column: 1 / 6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

#about-us .left img {
  width: 90%;
  position: relative;
  top: 10%;
}

#about-us .right {
  grid-column: 7 / 11;
}

#about-us .right img {
  width: 100%;
  margin-bottom: 14%;
}


@keyframes logoRotation {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg)}
}

@media screen and (max-width: 840px) {
  #about-us .grid {
    display: flex;
    flex-direction: column;
  }

  #about-us .left img {
    display: none;
  }

  #about-us .right img {
    margin: 10% 0;
  }
}