#banner {
  height: 100vh;
  background: url('/img/banner.webp') center center / cover no-repeat;
}

#banner-two {
  height: 120vh;
  padding: 2vw 2vw 5vw 2vw;
  background: url('/img/banner2.webp') center center / cover no-repeat;
}

#banner-two .grid {
  height: 100%;
  grid-template-columns: 3fr 6fr 3fr;
}

#banner-two .grid .left,
#banner-two .grid .right,
#banner-two .grid .center {
  display: flex;
  align-items: center;
}

#banner-two .grid .left {
  justify-content: flex-start;
}

#banner-two .grid .right {
  justify-content: flex-end;
}

#banner-two .grid .gap {
  width: 100%;
  height: 2.5rem;
}

#banner-two .grid .center  {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#banner-two .grid .left,
#banner-two .grid .right,
#banner-two .grid .center span {
  font-family: 'Humane-Bold';
  font-size: 3rem;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
  color: var(--creme);
}

#banner-two .grid .center p {
  font-family: 'GTWalsheimPro-Medium';
  font-size: clamp(2.5rem, 3.4vw, 3rem);
  font-weight: 500;
  line-height: 110%;
  color: var(--light-creme);
  text-align: center;
}

#banner-two .grid .center span {
  justify-self: flex-end;
}


@media screen and (max-width: 1040px) {
  #banner-two .grid {
    grid-template-columns: 1fr;
  }

  #banner-two .grid .left,
  #banner-two .grid .right {
    display: none;
  }
}