#gallery .grid {
  grid-template-columns: repeat(12, 1fr);
  gap: 2.75vw;
}

#gallery .left {
  grid-column: 2 / 7;
}

#gallery .right {
  grid-column: 7 / 13;
}

#gallery .gallery-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.75vw;
}

#gallery .img {
  will-change: transform;
}

/* PART ONE */

#gallery .gallery-part-one {
  padding: 0 2vw;
  padding-top: min(15rem, 12vw);
  background-color: var(--light-creme);
}

#gallery .gallery-part-one .left {
  height: 100vh;
}

#gallery .circle-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: -10.23vw;
}

h4 {
  font-size: clamp(7rem, 15vw, 16.875rem);
  color: var(--dark-red);
  margin-bottom: 3%;
  mix-blend-mode: difference;
}

h4:nth-of-type(2) {
  mix-blend-mode: multiply;
}

#gallery .red-paragraph {
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  max-width: 48rem;
  mix-blend-mode: difference;
}

#gallery .red-circle {
  border-radius: 50%;
  background-color: var(--dark-red);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* PART TWO */

#gallery .gallery-part-two {
  padding: 2.75vw 2vw 12vw 2vw;
  background-color: var(--dark-red);
}

#gallery .gallery-part-two .left {
  display: flex;
  align-items: flex-end;
}

.hustling-vertical {
  font-family: 'Humane-Regular';
  font-size: clamp(8rem, 13vw, 18.75rem);
  font-weight: 400;
  text-transform: uppercase;
  white-space: nowrap;
  color: var(--creme);

  transform: translate(-2.2%, 100%) rotate(-90deg);
  transform-origin: top left;
}