#gallery .grid {
  grid-template-columns: repeat(12, 1fr);
  gap: 2.75vw;
}

#gallery .left {
  grid-column: 2 / 7;
}

#gallery .right {
  grid-column: 7 / 13;
}

#gallery .gallery-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.75vw;
}

#gallery .img {
  transform: translateY(0);
  will-change: transform;
}

/* PART ONE */

#gallery .gallery-part-one {
  padding: 6% 0 2.75vw 0;
  background-color: var(--light-creme);
}

#gallery .gallery-part-one .grid {
  padding: 6vw 2vw 0 2vw;
  padding-top: min(6.375rem, 6vw);
}

#gallery .gallery-part-one .left {
  align-self: flex-start;
  position: relative;
  isolation: isolate;
}

#gallery .gallery-part-one .right {
  position: relative;
  bottom: min(9px, .5vw);
  margin-bottom: min(-9px, -0.5vw);
}

h4 {
  font-size: clamp(7rem, 15vw, 16.875rem);
  color: var(--dark-red);
  margin-bottom: 3%;
}

h4 b {
  mix-blend-mode: multiply;
}

#gallery .red-paragraph {
  max-width: 48rem;
}

#gallery .red-circle {
  border-radius: 50%;
  background-color: var(--dark-red);
  mix-blend-mode: difference;

  position: absolute;
  top: 50%;
  right: -1.375vw;
  transform: translate(50%, -50%);
}

/* PART TWO */

#gallery .gallery-part-two {
  padding: 0 0 12% 0;
  background-color: var(--dark-red);
}

#gallery .gallery-part-two .grid {
  padding: 0 2vw;
  position: relative;
}

#gallery .gallery-part-two .left {
  display: flex;
  align-items: flex-end;
}

.hustling-vertical {
  font-family: 'Humane-Regular';
  font-size: clamp(10rem, 16vw, 18.75rem);
  font-weight: 400;
  text-transform: uppercase;
  white-space: nowrap;
  color: var(--creme);

  transform: translate(-2.2%, 100%) rotate(-90deg);
  transform-origin: top left;
}