#hustling {
  padding: 9.375rem 0;
  background-color: var(--dark-red);
  overflow: hidden;

  display: grid;
  grid-template-columns: 1fr;
  gap: 2.375rem;
}

#hustling .marquee-wrapper {
  display: flex;
  align-items: center;
  min-width: max-content;
}

#hustling .marquee {
  display: flex;
  align-items: center;
  min-width: max-content;
}

#hustling .marquee-wrapper:first-of-type .marquee:nth-child(1),
#hustling .marquee-wrapper:first-of-type .marquee:nth-child(2) {
  animation: infiniteScroll 20s linear infinite;
}

#hustling .marquee-wrapper:nth-of-type(2) .marquee:nth-child(1),
#hustling .marquee-wrapper:nth-of-type(2) .marquee:nth-child(2) {
  animation: infiniteScrollInverse 50s linear infinite;
}

#hustling .marquee-wrapper:nth-of-type(3) .marquee:nth-child(1),
#hustling .marquee-wrapper:nth-of-type(3) .marquee:nth-child(2) {
  animation: infiniteScroll 12s linear infinite;
}

#hustling .marquee-wrapper:nth-of-type(4) .marquee:nth-child(1),
#hustling .marquee-wrapper:nth-of-type(4) .marquee:nth-child(2) {
  animation: infiniteScrollInverse 17s linear infinite;
}

#hustling .marquee span {
  font-family: 'Humane-Regular';
  font-size: 18.75rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--creme);

  display: inline-block;
  margin-left: 2.75rem;
  position: relative;
  top: 1rem;
}

#hustling .marquee img {
  margin-left: 2.75rem;
}


@keyframes infiniteScroll {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}

@keyframes infiniteScrollInverse {
  from { transform: translateX(-100%); }
  to {transform: translateX(0); }
}