#landing-page {
  position: relative;
  overflow: hidden;
}

#landing-page .landing-page-background {
  background: url('/img/landing-page-bg-image.webp') center center / cover no-repeat;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#intro {
  width: 100vw;
  height: 100vh;
  background-color: var(--creme);

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;

  transition: transform 750ms ease-in-out;
}

img.intro-img {
  width: auto;
  height: 35vh;
  opacity: 0;
  transition: opacity 1s ease;
}

#landing-page .landing-page-title {
  padding: 13.375rem 0 4.4rem 2vw;
  transform: translateY(-1vw);
}

#landing-page .mask {
  overflow: hidden;
}

#landing-page h1 {
  font-size: clamp(8rem, 30vw, 26.75rem);
  color: var(--dark-red);
  transform: translateY(1vw);
}

#landing-page .flex-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#landing-page .container {
  width: 30rem;
  height: 15.25rem;
  margin: 0 8% 50vh 0;
}

#landing-page .red-paragraph {
  margin-bottom: 2.5rem;
}


@media screen and (max-width: 680px) {
  #landing-page .flex-container {
    justify-content: flex-start;
  }

  #landing-page .container {
    margin: 0 0 50vh 2.0;
    padding: 0 2.75rem;
  }
}