body {
  cursor: none;
  position: relative;
  background-color: var(--light-creme);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Humane-Medium';
  font-weight: 500;
  line-height: 77.5%;
  white-space: nowrap;
  text-transform: uppercase;
}

.red-paragraph {
  font-family: 'GTWalsheimPro-Bold';
  font-size: 2rem;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
  color: var(--dark-red);
}

b {
  font-weight: inherit;
  color: rgb(var(--black)) !important;
}

.black-paragraph {
  font-family: 'GTWalsheimPro-Medium';
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 110%;
  color: rgb(var(--black));
}

a.red-button {
  font-family: 'GTWalsheimPro-Bold';
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--light-creme);

  display: inline-block;
  padding: 1.25rem 3.5rem;
  background-color: var(--dark-red);
}

.grid {
  display: grid;
}

#custom-cursor {
  position: fixed;
  top: -16px;
  left: -16px;
  width: 32px;
  height: 32px;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
}

body, button, a, [role="button"], input[type="button"], input[type="submit"] {
  cursor: none;
}
    

@media screen and (max-width: 1000px) {
  #smooth-wrapper {
    display: none;
  }

  body {
    overflow: hidden;
  }

  .mobile-no {
    height: 100vh;
    background: url('/img/mobile-no.png') center center / cover no-repeat;
  }
}