#partners {
  padding: 9% 2vw;
  background-color: rgb(var(--black));
}

#partners .headline,
#testimonials .headline {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 2vw;
}

h5 {
  font-size: clamp(8rem, 30vw, 26.75rem);
}

#partners h5 {
  color: var(--white);
}

#partners .arrow-left:hover {
  content: url("/img/white-arrow-left-hover.svg");
}

#partners .arrow-right:hover {
  content: url("/img/white-arrow-right-hover.svg");
}

#partners .partners-container {
  position: relative;
  transform: translateX(-27vw);
}

#partners .small-box,
#partners .large-box {
  border: 2px solid rgb(var(--black));
  transition: all .3s ease-in-out;
}

#partners .small-box {
  width: 25vw;
}

#partners .large-box {
  width: 42vw;
}

#partners .partner-img {
  height: 27.375rem;
}

#partners .partner-info {
  height: 8.5rem;
  padding: 2rem 2.25rem;
  background-color: white;
}

#partners .partner-name {
  font-family: 'GTWalsheimPro-Bold';
  font-size: clamp(1.25rem, 1.75vw, 2rem);
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
  color: rgb(var(--black));
  margin-bottom: .5rem;
  white-space: nowrap;
}

#partners .partner-insta a {
  font-family: 'GTWalsheimPro-Medium';
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 110%;
  color: rgb(var(--black));
  white-space: nowrap;
}


@media screen and (max-width: 2280px) {
  #partners .partners-container {
    transform: translateX(-34vw);
  }

  #partners .small-box {
    width: 32vw;
  }

  #partners .large-box {
    width: 62vw;
  }
}

@media screen and (max-width: 1360px) {
  #partners .partners-container {
    transform: translateX(-68vw);
  }

  #partners .large-box {
    width: 96vw;
  }
}