#testimonials {
  padding: 14% 2vw 16% 2vw;
  background-color: var(--dark-red);
}

#testimonials h5 {
  color: rgb(var(--black));
}

#testimonials .arrow-left:hover {
  content: url("/img/black-arrow-left-hover.svg");
}

#testimonials .arrow-right:hover {
  content: url("/img/black-arrow-right-hover.svg");
}

#testimonials .testimonials-container,
#partners .partners-container {
  display: flex;
  flex-wrap: nowrap;
  width: max-content;
  overflow: hidden;
}

#testimonials .testimonials-container {
  transform: translateX(-32.6666666666vw);
}

#testimonials .inner-slider,
#partners .inner-slider {
  display: flex;
  flex-wrap: nowrap;
  gap: 2vw;
  will-change: transform;
}

#testimonials .testimonial {
  width: 30.6666666666vw;
  height: 25rem;
  padding: 2.125rem;
  grid-column: span 6;
  background-color: rgb(var(--black));
  border: 2px solid var(--dark-red);

  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

#testimonials .star {
  width: 1.75rem;
}

#testimonials .review,
#testimonials .source-box {
  font-family: 'GTWalsheimPro-Medium';
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -.04em;
  color: var(--white);
}

#testimonials .review {
  font-size: 1.875rem;
  margin: 1.75rem 0;
}

#testimonials .source-box {
  font-size: 1.125rem;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}


@media screen and (max-width: 2280px) {
  #testimonials .testimonials-container {
    transform: translateX(-49vw);
  }

  #testimonials .testimonial {
    width: 47vw;
  }
}

@media screen and (max-width: 1200px) {
  #testimonials .testimonials-container {
    transform: translateX(-98vw);
  }

  #testimonials .testimonial {
    width: 96vw;
  }
}